<div id="all-info">
  The population of <%= @location_info.location %> is <%= @location_info.population %>.
  The per-capita-income of <%= @location_info.location %> is <%= @location_info.income %>.
</div>
