@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #A7C4C2;
  text-align: center;
}

nav {
  text-align: center;
  color: #6A0F49;
}
ul {
  text-align: center;
  color: #4A001F;
}
li {
  font-size: 25px;
  padding: 10px;
  margin: 5px;
  color: #6A0F49;
}
h1 {
  font-size: 125px;
}
h2 {
  font-size: 75px;
}
h3 {
  color: #4A001F;
}
h4 {
  color: #4A001F;
}
input {
  padding: 20px;
}
strong {
  color: #6A0F49;
}
#image {
  align-content: center;
}
.btn {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  margin: 20px;
  color: #A7C4C2;
  border-radius: 20px;
  background-color: #4A001F;
}
.btn:hover {
  background-color: #6A0F49;
  color: #A7C4C2;
}
.searching-text {
  text-align: center;
  padding: 14px;
  font-size: 30px;
  margin: 20px;
  border-radius: 20px;
  color: #A7C4C2;
  background-color: #4A001F;
}
#searching {
  text-align: center;
  padding: 12px;
  font-size: 30px;
}
